[general]
accounts = {{ offlineimap_accounts | map(attribute='name') | list | join(',') }}
{% for option in offlineimap_config_vars_general | map(attribute='option') | list -%}
  {%- set prefixed_option=lookup('vars', 'offlineimap_config_' + option, default='') -%}
  {%- if prefixed_option != '' -%}
    {{ option }} = {{ prefixed_option }}
  {% endif %}
{% endfor %}

{% if offlineimap_mbnames is defined -%}
[mbnames]
enabled = yes
{% for option in offlineimap_config_vars_mbnames | map(attribute='option') | list if option not in ['enabled']-%}
{% if option in offlineimap_mbnames.keys() -%}
{{ option }} = {{ offlineimap_mbnames[option] }}
{% elif option not in ['folderfilter', 'sort_keyfunc', 'incremental'] -%}
{{ option }} = ''
{% endif -%}
{%- endfor -%}
{% endif %}

{% for account in offlineimap_accounts -%}
  [Account {{ account.name }}]
{% for option in account if option not in ['name'] -%}
{% if option == 'local_repo' -%}
  localrepository = {{ account['local_repo']['name'] }}
{% elif option == 'remote_repo' -%}
  remoterepository = {{ account['remote_repo']['name'] }}
{% else -%}
  {{ option }} = {{ account[option] }}
{% endif %}
{% endfor %}

{% endfor %}

{% for local_repo in offlineimap_accounts | map(attribute='local_repo') | list -%}
  [Repository {{ local_repo.name }}]
{% for option in local_repo if option != 'name' -%}
  {{ option }} = {{ local_repo[option] }}
{% endfor %}

{% endfor %}

{%- for remote_repo in offlineimap_accounts | map(attribute='remote_repo') | list -%}
  [Repository {{ remote_repo.name }}]
{% for option in remote_repo if option != 'name' -%}
  {{ option }} = {{ remote_repo[option] }}
{% endfor %}

{% endfor %}
